---
import Layout from '../layouts/Layout.astro';
import LoginForm from '../components/LoginForm.jsx';
// Ya no necesitamos el AuthProvider aquí
---

<Layout title="Iniciar Sesión">
  <main>
   
    <LoginForm client:load />
  </main>
</Layout>