---
// src/components/DashboardHeader.astro
import LogoutButton from './LogoutButton.client.jsx';
---
<header class="bg-gray-800 shadow-md p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/" class="text-2xl font-bold text-white hover:text-yellow-300 transition duration-300">Cerrar Sesion</a>
    
    {/* Añadimos el botón de Logout como una isla interactiva */}
    <LogoutButton client:visible />
  </div>
</header>